# Machine learning fairness

## How To

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

df = pd.read_csv("data/housing.csv").dropna()
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [2]:
x_train, x_, y_train, y_ = train_test_split(df.drop(["longitude","latitude", "ocean_proximity", "median_house_value"], axis=1), 
                                                    df.median_house_value, test_size=.5, stratify=df.ocean_proximity)

x_val, x_test, y_val, y_test = train_test_split(x_, y_, test_size=.5)

In [3]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor().fit(x_train, y_train)

In [5]:
model.score(x_val, y_val)

0.6506734105428703

In [14]:
from sklearn.model_selection import cross_val_score

In [22]:
for cls in df.ocean_proximity.unique():
    print(cls)
    try:
        idx = df[df.ocean_proximity.isin([cls])].index

        idx_val = x_val.index.intersection(idx)
        print(model.score(x_val.loc[idx_val, :], y_val.loc[idx_val]))

        val = cross_val_score(model, x_val.loc[idx_val, :], y_val.loc[idx_val])
        print(val)
        print(val.mean(), " +- ", val.std(), "\n")
    except:
        print("Error in Validation")
    try:
        idx = df[df.ocean_proximity.isin([cls])].index

        idx_test = x_test.index.intersection(idx)
        print(model.score(x_test.loc[idx_test, :], y_test.loc[idx_test]))
        
        tst = cross_val_score(model,x_test.loc[idx_test, :], y_test.loc[idx_test])
        print(tst)
        print(tst.mean(), " +- ", tst.std(), "\n")
    except:
        print("Error in Test")

NEAR BAY
0.5570395463447235
[0.57219328 0.44855003 0.51919771 0.59091628 0.40675492]
0.5075224447546072  +-  0.07057619932623685

0.6527441863229038
[0.59025626 0.55653415 0.51536576 0.75825637 0.54617368]
0.5933172427859382  +-  0.08586760896540928

<1H OCEAN
0.606956325073295
[0.55365731 0.60038419 0.67269169 0.58778808 0.56744912]
0.5963940781657364  +-  0.041413889374504936

0.594563542001741
[0.64151567 0.61286145 0.59144074 0.59146249 0.55420504]
0.5982970793239814  +-  0.028697723474781403

INLAND
0.21181271480249797
[0.47548422 0.4244011  0.55019621 0.53988905 0.34708655]
0.46741142616273407  +-  0.07549763125236966

0.27797439469300067
[0.35291199 0.51658834 0.52368751 0.44794069 0.60352741]
0.4889311877993688  +-  0.08400792257132773

NEAR OCEAN
0.583707399893368
[0.61625469 0.55586553 0.57977258 0.49662929 0.66552688]
0.5828097965180612  +-  0.05678551614666053

0.5864176662618662
[0.46453127 0.62917267 0.51358205 0.59059131 0.66384324]
0.5723441094613778  +-  0.0734998296268345

ISLAND
Error in Validation
-236.01724654278584
Error in Test

## Exercise
Modify the code to generate dummy models for each class.

## Additional Resources

- [ML Fairness](https://en.wikipedia.org/wiki/Fairness_(machine_learning))
- [ML Fairness Gym](https://ai.googleblog.com/2020/02/ml-fairness-gym-tool-for-exploring-long.html)
- [F A T M L](https://www.fatml.org/)