# SQL data into Pandas

Many companies store data in central databases to ensure efficient data management, security, and accessibility. 

Structured Query Language (SQL) is the standard language for interacting with these databases, allowing users to extract and manipulate data. In recent years, Python has become a popular tool for data analysis and manipulation due to its flexibility, ease of use, and extensive libraries. Pandas is a powerful Python library for data manipulation, and it offers seamless integration with SQL databases through SQLAlchemy, a popular SQL toolkit for Python. 

By using Python, Pandas, and SQLAlchemy, users can access and analyze data stored in SQL databases and perform complex queries and data transformations. In this article, we will explore how to connect to a SQL database, retrieve data using SQL queries, and analyze the data using Pandas.

## How To

In [1]:
import pandas as pd

In [2]:
import sqlalchemy as sql

In [ ]:
conn = sql.create_engine("postgresql://scott:tiger@localhost/test")

In [ ]:
df = pd.read_sql_table("sales", conn)

In [ ]:
query = "SELECT * FROM sales"
df = pd.read_sql_query(query, conn)

In [ ]:
query = """SELECT customers, total_spend from sales
           WHERE YEAR = 2019
           LIMIT 1000
           """
df = pd.read_sql_query(query, conn)

## Exercise

Try out one of the free online SQL playgrounds

## Additional Resources

- [W3 Schools](https://www.w3schools.com/sql/sql_intro.asp)
- [Skillshare SQL course](https://www.skillshare.com/classes/SQL-Master-SQL-Database-Queries-in-Just-90-Mins/1192226128?via=jesperdramsch)
- [Kaggle Intro to SQL](https://www.kaggle.com/learn/intro-to-sql)